body{
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    background-color: #000;
}

#Page4_Main{
    background-color: #fff;
    width: clamp(300px,100%,100%);
    height: clamp(300px,100%,100%);
}

#Page4{
    position: relative;
    width: clamp(300px,100%,100%);
    height: clamp(400px,100vh,753px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#container_Page4{
    width: clamp(300px,100%,1980px);
    height: clamp(400px,100vh,753px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#nav-bar{
    position: relative;
    width: clamp(300px,100%,100%);
    height: clamp(30px,12vh,86px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font);
    color: #fff;
    z-index: 99;
}
.box_1_nav{
    width: clamp(300px,30%,455px);
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box_1_nav a{
    font-weight: 700;
    text-decoration: none;
    color: #000000;
    margin: 1rem;
}
.box_2_nav{
    width: 35%;
    height: 100%;
    text-align: center;
    font-size: 1.5rem; 
}
.box_2_nav h2{
    margin-bottom: auto;
}
.box_2_nav a{
    text-decoration: none;
    color: #000000;
}
.box_3_nav{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #000;
}
.box_3_nav a{
    color: #000000;
    text-decoration: none;
    font-size: 1.6rem;
}

/* Headline */

#container_Page4 h1{
    font-family: var(--font);
    font-size: 9rem;
    margin-bottom: 1rem;
}
#container_Page4 h3{
    font-family: var(--font);
    font-size: 1.3rem;    
    width: clamp(300px,71vw,1090px);
    text-align: center;

}

#Btn1{
    width: clamp(180px,13vw,186px);
    height: clamp(30px,10vh,73px);
    font-size: 1.4rem;
    color: #fff;
    border: none;
    outline: none;
    background-color: #000;
    margin-top: 4rem;
    cursor: pointer;
    transition: 0.3s;
}

#Btn1:hover{
    background-color:#fff;
    border: 1px solid black;
    color: #000000;
}