#Page4_Part2{
    position: relative;
    width: clamp(300px,100%,100%);
    height: clamp(300px,120vh,904px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

#container_Page4_Part2{
    width: clamp(300px,100%,1980px);
    height: clamp(300px,120vh,904px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Img_box{
    width: clamp(300px,84vw,1290px);
    height: clamp(730px,97vh,730px);
    background-image: url(Wallpaper/C2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}