@media all and (max-device-width: 1300px) and (orientation: landscape) {

    html{
        font-size: 50%;
    }

    #container_Page4 h3 {
        font-weight: 400;
    }

    #H3_PartB {
        font-weight: 500;
    }
    #Part2_H3 {
       font-weight: 500;
    }
}
