@media (max-width:600px) {
    html{
        font-size: 50%;
    }
    
    #Box1{
        flex-direction: column-reverse;
    }

    #Part1 {
        background-size: 103%;
    }

    #PartB {
        background-size: cover;
    }

    #Part2_H {
        font-size: 6rem;
        width: clamp(320px,85vw,331px);
    }

    #Part2_H3 {
        font-size: 2rem;
        font-weight: 300;
        width: clamp(310px,82vw,320px);
    }

    #H1_PartA {
        font-size: 4.5rem;
        width: clamp(317px,77vw,317px);
    }

    #H3_PartB {
        font-size: 2rem;
        width: clamp(312px,92%,312px);
        font-weight: 300;
    }
    #Page4_Part3 {
        height: clamp(753px,100vh,753px);
    }

    #container_Page4_Part3 {
        height: clamp(753px,100vh,753px);
    }

    #Page4_Part4 {
        height: clamp(753px,100vh,753px);
    }

    #container_Page4_Part4 {
        height: clamp(753px,100vh,753px);
    }

    #container_footer {
        justify-content: space-around;
        align-items: center;
    }

    .Foot1 {
        width: 50vw;
        height: 50%;
    }

    #Part5_H4 {
        font-size: 2.1rem;
    }

    #Part5_Headline2 {
        font-size: 15rem;
        text-align: center;
    }

    #Part5_Headline {
        font-size: 2.8rem;
    }

    #Btn1 {
        font-size: 2.4rem;
    }

    #nav-bar{
        display: none;
    }

    #NavPhone23{
        display: block !important;
    }

    #container_Page4 h1 {
        font-size: 8rem;
        text-align: center;
    }

    #container_Page4 h3 {
        font-weight: 400;
        font-size: 1.6rem;
        width: clamp(300px,94vw,366px);
    }

    #Headline_P4 {
        font-size: 7rem;
    }

    .AllBoxs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}